<%- include('../public/partials/Header.ejs') %>

<body>
    
<%- include('../public/partials/Sidebar.ejs') %>
</section>
    
<div class = "mainArea"> 
 
    <div class="jumbotron" style="background-color:#f1f1f1; text-align: left;">
        <h3 class="display-4" style="font-family: Roboto; font-weight: 400; font-size: 45px ">Área de acessos</h3>
        <p class="lead">Defina aqui quem pode ter acesso ao seu sistema de estoque.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" id = "createNewUser" role="button">Definir novo acesso</a>
        <button class = "btn btn-outline-dark" id = "helpBtn" style="margin-left: 650px">Ajuda <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
        </svg></button>
      </div>

      <ul class="list-unstyled" style="text-align: left; margin-left: 30px; margin-top: -40px">

        <% if(empty == true ) { %>
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Atenção</h4>
            <p>Nenhum usuário cadastrado ainda. Clique em <i style="font-style: normal; font-weight: bold;">Definir novo acesso</i> acima para adicionar um novo usuário.</p>
            <hr>
            <p class="mb-0">Os usuários cadastrados aparecerão aqui.</p>
          </div>
        <% } else { %> 

          <% data.forEach((data) => { %>

            <li class="media">
            <svg width="4em" style="margin-top: 30px;" height="4em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg>
            <div class="media-body" id = "userBoard" style="margin-left: 20px">
              <h5 class="mt-0 mb-1"> <%= data.username %> </h5>
              <p>Email: <%= data.email %></p>
              <p style = "margin-top: -15px"> Senha: <%= data.password %> </p>
              <p style = "margin-top: -15px"> <% if(data.admin == true){ data.admin = 'Sim'} else { data.admin = 'Não'} %>Administrador: <%= data.admin %> </p>
            
              <form action= '/acessos/<%=data.id %>' method = "POST" >
                  <button class = "btn btn-outline-danger" type="submit" onclick="verifyDeletion(event, this)" data-user = '<%= data.id %>' >Remover acesso</button> 
              </form>
            
            </div>
    
          
    
          </li> <br><hr><br>
    
           <% }) %>

        <% } %>
     
       </ul>

</div>

    

</body>


<%- include('../public/partials/NewUserModal.ejs') %>
<%- include('../public/partials/DeleteUserModal.ejs') %>
<%- include('../public/partials/HelpAccessModal.ejs') %>
<%- include('../public/partials/Footer.ejs') %>


<script>

  $('#createNewUser').click(() => {
    $('#createUserModal').modal('show');
  });


  $('#helpBtn').click(() => {
    $('#helpModal').modal('show');
  })

  // function verifyDeletion(event, form){
  //   event.preventDefault();
  //   $('#deleteUserModal').modal('show');
    
  //   var btnDeleteAccess = document.getElementById('dlt');

  //   btnDeleteAccess.addEventListener('click', () => {
  //     HTMLFormElement.prototype.submit.call(form)
  //   })

  // }

</script>