<%- include('../public/partials/Header.ejs') %>

<body>
    
   <!-- Sidebar -->
   <div class="sidebar">
    <header>Store <i class="fa fa-building-o" aria-hidden="true"></i></header>
    <ul>
    <li><a href="/dashboard"><i class="fa fa-bars" aria-hidden="true"></i>Menu principal</a></li>
    <li><a href="/produtos"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Produtos</a></li>
    <li><a href="/clientes"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Clientes</a></li>
    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>Vendas</a></li>
    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></i>Sair</a></li>
    </ul>
    </div>
    <section>
    
    </section>

    
    
    <br>

    <div class = "dataSquare"> <br><br>
        <div class = "dataViewer"> <%= registeredProducts.registeredProducts %> </div> <br>
        <div class = "dataDescription">Produtos cadastrados</div>
    </div> <br>

    <div class = "dataSquare"> <br><br>
        <div class = "dataViewer"> R$ <%= totalPrice.totalPrice %> </div> <br>
        <div class = "dataDescription">Valor em estoque</div>
    </div> <br>


    <div class = "dataSquare"> <br><br>
        <div class = "dataViewer"> <%= availableProducts.availableProducts %></div> <br>
        <div class = "dataDescription">Unidades disponíveis</div>
    </div> <br>
    
</body>

<script>



</script>


<%- include('../public/partials/Footer.ejs') %>
