<%- include('../public/partials/Header.ejs') %>

<body>
    
  <%- include('../public/partials/Sidebar.ejs') %>
    </section>

    
    
    <br>

    <div class = "dataSquare"> <br><br>
        <div class = "dataViewer"> <%= registeredProducts.registeredProducts %> </div> <br>
        <div class = "dataDescription">Produtos cadastrados</div>
    </div> <br>

    <div class = "dataSquare"> <br><br>
        <div class = "dataViewer"> R$ <%= totalPrice.totalPrice %> </div> <br>
        <div class = "dataDescription">Valor em estoque</div>
    </div> <br>


    <div class = "dataSquare"> <br><br>
        <div class = "dataViewer"> <%= availableProducts.availableProducts %></div> <br>
        <div class = "dataDescription">Unidades disponíveis</div>
    </div> <br>
    
</body>

<script>



</script>


<%- include('../public/partials/Footer.ejs') %>
